# macOS
.DS_Store

# Archivos temporales
*.tmp
*.log

# Copias de seguridad
*.bak
*.backup

# Directorios de trabajo
tmp/

# Credenciales y secretos (¡Súper importante para Docker/Proxmox!)
*.env
*.secret
